body{
    background-color : white;
}

.dado{
        border-radius: 29px 29px 29px 29px;
        -moz-border-radius: 29px 29px 29px 29px;
        -webkit-border-radius: 29px 29px 29px 29px;
}
.nombre,.apellidos,.titulo,.edad,.titulo2{
       color:red;
}
.lab_opc{
    color:blue;
}
.registro{
        margin: 5em 0em 0em 35em;
       text-align:center;
}
.boton{
    background-color : grey;
    color : white;
}
#img{
    width:72px;
    height:72px;
}
#contenedor_resultados{
    float:left;
}
.img_trof{
   margin-left:200px;
}
